.homepage-recipe-container {
  font-family: Roboto, Helvetica Neue, sans-serif;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

  background-color: white;
  width: 100%;
}

.homepage-recipe-content {
  display: inline-flex;
  margin: 5px 10px 5px 10px;
}

.teaser-image {
  height: 120px;
}

.recipe-name {
  margin-top: 10px;
  color: rgb(47, 68, 47);
}

.recipe-name-link {
  text-decoration: none;
}

.homepagerecipe-content-wrapper {
  margin-left: 10px;
}
