.form-input-container {
  display: block;
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  letter-spacing: 2px;
  width: 200px;
}

.form-input-name {
  transform: translateY(-18px);
  cursor: text;
  font-size: 15px;
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  line-height: 1;
}

.form-input-field {
  border: 0;
  border-bottom: 2px solid;
  width: 150px;
  outline: 0;
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

.form-input-field:focus {
  width: 200px;
}

.form-input-field:focus + .form-input-name {
  transform: translateY(-36px);
  font-size: 0.8rem;
  width: 200px;
}

.form-input-name + .value-exists {
  transform: translateY(-36px);
  font-size: 0.8rem;
}
