body {
  background-color: rgb(247, 247, 247);
}

.homepage-page {
  margin-top: 80px;
}

.recipe-list {
  display: grid;
  grid-template-columns: 95%;
  grid-auto-rows: 150px;
  grid-row-gap: 5px;
  z-index: 0;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 30px;
  height: auto;
  background-color: #fdfdfd;
  border: solid 1px #eaeaea;
  justify-content: center;
}

.top-add-recipe-button {
  margin-left: 25%;
  padding-top: 20px;
}
