.ingredients-page {
  margin-top: 100px;
  display: block;
}

.top-add-button {
  margin-left: 11%;
  margin-bottom: 10px;
}

.latest-ingredients-list-container {
  margin-left: 10%;
  margin-right: 10%;
}

.latest-ingredients-list {
  display: grid;
  background-color: #fdfdfd;
  border: solid 1px #eaeaea;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-auto-rows: 220px;
}
